html{
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100%;
}

body{
  overflow-x: hidden;
  position: relative;
}

* {
  font-family: "Roboto";
  font-weight: normal;
}


p {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar { width: 5px; height: 5px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #d9d9d9;}
::-webkit-scrollbar-thumb { height: 30px; background-color: #666; border-radius: 5px;}
::-webkit-scrollbar-corner { background-color: #999;}
::-webkit-resizer { background-color: #666;}

.row-body {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  cursor: pointer;
  align-items: flex-start;
  height: calc(100vh - 125px);
}

.row  {
  background-color: #fff;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  overflow: hidden;
  border-bottom: 2px solid #000000;
  margin-bottom: 27px;
  z-index: 1;
}
.row-inner {
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  height: calc(100vh - 60px);
  overflow: auto;
  z-index: 1;
}

.row-header {
  border: 2px solid #000000;
}

.row-nav {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.row-inner-nav {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.container  {
  position: relative;
  max-width: 100%;
  /*max-width: 1410px;*/
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.column-header {
  transition: all .4s ease;
  display: block;
  font-style: normal;
  font-weight: normal;
  width: 25%;
  font-size: 36px;
  line-height: 42px;
  border: 2px solid #000000;
  text-align: center;
  outline: none;
  text-decoration: none;
  color: #000000;
}

.column-header:not(:last-child) {
  border-right: 0px;
}

.column-header a:hover {
 color: #FFFFFF;
 background: #ece9e9;
 text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}
.row.reverse {
  background-color: #000000;
  border: 2px solid #ffffff;
}

.manifest.black,
.container.black {
  background-color: #000000;
}

.row.reverse * {
  background-color: #000000;
  color: #ffffff;
}


.columnone {
  transition: all .4s ease;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 9px;
  width: 25%;
  height: 99%;
  overflow-y: auto;
  max-height: calc(100vh - 18px);
  top: 0;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  border-left: 2px solid #000000;
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
  line-height: 110%;
  z-index: 2;
   -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.columntwo {
  transition: all .4s ease;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  width: 25%;
  height: 99%;
  overflow-y: auto;
  max-height: calc(100vh - 18px);
  z-index: 2;
  position: relative;
  font-style: normal;
  font-weight: normal;
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
  font-size: 27px;
  line-height: 32px;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}


.columnthree {
  transition: all .4s ease;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  width: 25%;
  overflow-y: auto;
  max-height: calc(100vh - 18px);
  z-index: 2;
  position: relative;
  font-style: normal;
  font-weight: normal;
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
  font-size: 65px;
  line-height: 110%;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.columnfour {
  transition: all .4s ease;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  width: 25%;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 18px);
  z-index: 2;
  font-style: normal;
  font-weight: normal;
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
  font-size: 110px;
  line-height: 110%;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.big-text {
    font-size: 42px;
    line-height: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 35px;  
}

.mid-text {
    font-size: 26px;
    line-height: 100%;
}

.small-text {
    font-size: 14px;
    line-height: 100%;
}

.supa-big-text {
    font-size: 70px;
    line-height: 85%;
}

.img-text {
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  font-weight: normal;
  font-size: 41px;
  line-height: 101.5%;
}

.pdf {
  position: absolute;
  right: 175px;
  bottom: -27px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  z-index: 90;
}

.mail {
  position: absolute;
  right: 65px;
  bottom: -27px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  z-index: 90;
}

.back,
.left-link {
  position: absolute;
  left: 65px;
  bottom: -27px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  z-index: 90;
}

.reverse>.row-header {
  border: 2px solid #ffffff;
}

.reverse>.row-body>.columnone {
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}

.reverse>.row-body>.columntwo {
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}
.reverse>.row-body>.columnthree {
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}
.reverse>.row-body>.columnfour {
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}

.reverse>.row-nav>.column-header {
  border: 2px solid #ffffff;
}

.reverse>.row-nav>.column-header:not(:last-child) {
  border-right: 0px;
}

.img-small {
  transition: all .7s ease;
  display: none;
  max-width: 100%;
  height: auto;
  width: 55px;
  height: 77px;
  position: fixed;
  z-index: 10;
}

.img-active {
  display: block;
}

.row-inner-nav>.column-header_full {
  border-right: 2px solid #000000;
  width: 100%;
}
.row-nav>.column-header_full {
  border-right: 2px solid #000000;
  width: 100%;
}

.reverse>.row-inner-nav>.column-header_full {
  border-right: 2px solid #ffffff!important;
}

.arrow {
  position: absolute;
  display: inline-block;
  border: none;
  user-select: none;
  outline: none !important;
  text-decoration: none;
  background-color: transparent;
}
.arrow>svg>path {
  fill: #000000;
}
.next-arrow {
  cursor: pointer;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.prev-arrow {
  cursor: pointer;
  left: 10px;
  top: 50%;
  transform: rotate(180deg) translateY(50%);
}

.reverse>.row-nav>.arrow>svg>path {
  fill: #ffffff;
}

.hello,
.choice {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: relative;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  height: 100vh;
  z-index: 100;
}

.btn {
  font-style: normal;
  cursor: pointer;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  border: none;
  background-color: transparent;
  padding: 3px;
  outline: none;
  border: 2px solid #000000;
  text-decoration: none;
}

.pics {
  position: absolute;
  top: 0;
  left: 0;
}

.img-1 {
  top: 263px;
  left: 232px;

}
.img-2 {
  top: 536px;
  left: 242px;
}
.img-3 {
  top: 693px;
  left: 76px;
}
.img-4 {
  top: 263px;
  left: 553px;
}
.img-5 {
  top: 385px;
  left: 397px;
}
.img-6 {
  top: 681px;
  left: 527px;
}
.img-7 {
  top: 527px;
  left: 693px;
}
.img-8 {
  top: 192px;
  left: 800px;
}
.img-9 {
  top: 381px;
  left: 925px;
}
.img-10 {
  top: 107px;
  left: 1287px;
}
.img-11 {
  top: 281px;
  left: 1150px;
}
.img-12 {
  top: 534px;
  left: 1287px;
}
.img-13 {
  top: 671px;
  left: 1150px;
}

.hide {
  display: none;
}

.blocker {
  z-index: 100;
}

.modal-wrapper {
  margin: auto;
}

.modal img {
  display: block;
  max-width: 100%;
  height: auto;
}
.modal {
  max-width: 500px;
}

@media (max-width: 900px) {


  .columnone {
  font-size: 42px;

  }

  .columntwo {
    font-size: 24px;

  }


  .columnthree {
    font-size: 17px;

  }

  .columnfour {
    font-size: 62px;
  }

  .img-1 {
    left: 335%;
  }
  .img-2 {
    left: 448%;
  }
  .img-3 {
    left: 222%;
  }
  .img-4 {
    left: 580%;
  }
  .img-5 {
    left: 425%;
  }
  .img-6 {
    left: 646%;
  }
  .img-7 {
    left: 944%;
  }
  .img-8 {
    left: 920%;
  }
  .img-9 {
    left: 293%;
  }
  .img-10 {
    left: 123%;
  }
  .img-11 {
    left: 638%;
  }
  .img-12 {
    left: 123%;
  }
  .img-13 {
    left: 54%;
  }
}

@media (max-width: 600px) {


  .container {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .columnone {
  font-size: 13px;
  line-height: 110%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  width: 25%;
  height: 99%;
  hyphens: auto;
  }

  .columntwo {
    font-size: 19px;
    line-height: 110%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    width: 25%;
    height: 99%;
    hyphens: auto;
  }


  .columnthree {
    font-size: 25px;
    line-height: 110%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    width: 25%;
    height: 99%;
    hyphens: auto;
  }

  .columnfour {
    font-size: 31px;
    line-height: 110%;
    padding-bottom: 25px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    width: 25%;
    height: 99%;
    hyphens: auto;
  }

  .pdf,
  .back,
  .mail {
    font-size: 10px;
  }

  .back {
    left: 25px;
  }

  .mail {
    right: 25px;
  }



  .column-header {
    font-size: 19px;
  }

  .img-1 {
    top: 10%;
    left: 13%;
  }
  .img-2 {
    top: 60%;
    left: 24%;
  }
  .img-3 {
    top: 40%;
    left: 22%;
  }
  .img-4 {
    top: 0;
    left: 30%;
  }
  .img-5 {
    top: 81%;
    left: 25%;
  }
  .img-6 {
    top: 68%;
    left: 46%;
  }
  .img-7 {
    top: 24%;
    left: 44%;
  }
  .img-8 {
    top: 27%;
    left: 10%;
  }
  .img-9 {
    top: 50%;
    left: 67%;
  }
  .img-10 {
    top: 20%;
    left: 75%;
  }
  .img-11 {
    top: 40%;
    left: 38%;
  }
  .img-12 {
    top: 65%;
    left: 72%;
  }
  .img-13 {
    top: 80%;
    left: 64%;
  }
}